# Занятие № 5 по системной web-аналитике

##выполнил Колеганов Николай

##Задание:
Есть таблица:

user_id tel email

1 123 1@mail.ru

2 124 1@mail.ru

3 123 2@mail.ru

4 123 3@mail.ru

user_id - это один и тот же пользоватль.

Вопрос - как напистаь скрипт (или просто логика) как объединить этих пользователей, что потом можно было анализировать продажи по всем аккаунтам челока (это называется мердж данных)

## Загружаем библиотеки

In [0]:
import numpy as np
import pandas as pd
from google.colab import files

%matplotlib inline

## Загружаем данные

In [2]:
file = files.upload()

Saving user_mail.csv to user_mail.csv

##два столбца индексов для телефонов и почты, выделил общий индекс

In [0]:
data=pd.read_csv('user_mail.csv')

## значения для повторяющихся присваиваем один и тот же индекс

In [4]:
for i in range(len(data)):
    for j in range(len(data)):
        if data.at[i, 'tel'] == data.at[j, 'tel']:
            data.at[j, 'index_tel'] = data.at[i, 'index_tel']
            
for i in range(len(data)):
    for j in range(len(data)):
        if data.at[i, 'email'] == data.at[j, 'email']:
            data.at[j, 'index_email'] = data.at[i, 'index_email']
data.head(8)

   user_id     tel             email  index_tel  index_email
0        1     123     12345@mail.ru          1            1
1        2     124     12345@mail.ru          2            1
2        3     124    123456@mail.ru          2            3
3        4     124   1234567@mail.ru          2            4
4        5     124  12345678@mail.ru          2            5
5        6  123435    123456@mail.ru          6            3
6        7  235123    123456@mail.ru          7            3
7        8  534534    123456@mail.ru          8            3

## счетчики ключей

In [5]:
count_index_email = dict(data.index_email.value_counts())
print('count_index_email', count_index_email)

count_index_tel = dict(data.index_tel.value_counts())
print('count_index_tel', count_index_tel)

count_index_email {3: 4, 1: 2, 5: 1, 4: 1}
count_index_tel {2: 4, 7: 1, 6: 1, 1: 1, 8: 1}

## сокращаем разнообразие ключей
(присваивая значение из параллельного столбца значениям, которые встречаются реже самого частого значения)

In [6]:
for i in range(len(data)):
    if count_index_tel[data.at[i, 'index_tel']] < list(count_index_email.values())[0]:
        data.at[i, 'index_tel'] = data.at[i, 'index_email']
        
for i in range(len(data)):
    if count_index_email[data.at[i, 'index_email']] < list(count_index_email.values())[0]:
        data.at[i, 'index_email'] = data.at[i, 'index_tel']
        
data.head(8)

   user_id     tel             email  index_tel  index_email
0        1     123     12345@mail.ru          1            1
1        2     124     12345@mail.ru          2            2
2        3     124    123456@mail.ru          2            3
3        4     124   1234567@mail.ru          2            2
4        5     124  12345678@mail.ru          2            2
5        6  123435    123456@mail.ru          3            3
6        7  235123    123456@mail.ru          3            3
7        8  534534    123456@mail.ru          3            3

## переменная с самым частым значением

In [0]:
e = list(count_index_email.keys())[0]

## ищем самое частое значение.
если в параллельном столбце значение отличается,то копируем его и переменную с самым частым значением также меняем

In [8]:
for i in range(len(data)):
    if data.at[i, 'index_email'] == list(count_index_email.keys())[0]:
        if data.at[i, 'index_email'] != data.at[i, 'index_tel']:
            data.at[i, 'index_email'] = data.at[i, 'index_tel']
            e =data.at[i, 'index_email']
        else:
            data.at[i, 'index_email'] = e

data.head(8)

   user_id     tel             email  index_tel  index_email
0        1     123     12345@mail.ru          1            1
1        2     124     12345@mail.ru          2            2
2        3     124    123456@mail.ru          2            2
3        4     124   1234567@mail.ru          2            2
4        5     124  12345678@mail.ru          2            2
5        6  123435    123456@mail.ru          3            2
6        7  235123    123456@mail.ru          3            2
7        8  534534    123456@mail.ru          3            2